<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <i class="fas fa-credit-card"></i>
                        <h2>Transferencias transparentes</h2>
                        <p>Trabajamos en conjunto con los más reconocidos bancos internacionales para que las transferencias sean 100% seguras y asegurar la transparencia entre las partes.</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <i class="fas fa-gift"></i>
                        <h2>Sistema de beneficios</h2>
                        <p>Solo por comprar en Mercado de Pases sumás puntos en nuestro sistema de fidelización y recibís las mejores oportunidades del mercado.</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <i class="fas fa-user-shield"></i>
                        <h2>Seguridad, de principio a fin</h2>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                            siempre protegido.</p>
                    </article>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>


