<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-5 col-md-2">
                    <a href="/" class="main-header_home-link">
                        <img src="./images/afa.png">
                    </a>
                </div>
                <div class="titulo-container">
                    <h1 class = "tituloGeneral">MERCADO DE PASES 2023</h1> 
                </div>
                 
                
                
    
                <div class="col-7 col-md-6">
                    <form action="/productos" method="GET" class="search-form">
                        <input type="text" name="search" placeholder="Busca" class="search-form_input">
                        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
    
                <div class="col-12 col-md-4">
                    <a class="main-header_credit-link">
                        <i class="fas fa-hand-holding-usd"></i>
                        Los mejores jugadores al mejor precio.
                    </a>
                </div>
            </div>
    
            <button class="btn-toggle-navbar">
                <i class="fas fa-bars"></i>
            </button>
    
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/">Todos los productos</a></li>
                    <!-- solo logueado <li><a href="">Cargar productos</a></li> -->
                </ul>
                <ul class="left-navbar">
                    <li><a href="/productos/add">Agregar productos</a></li>
                    <!-- solo logueado <li><a href="">Cargar productos</a></li> -->
                </ul>
    
                <ul class="right-navbar">
                    <!-- Solo logueado <li><a href="profile.html">
                            Nombre del usuario <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <form action="" method="post">
                            <button class="logout" type="submit">
                                Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </form>
                    </li> -->
                    <li>
                        <a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
</body>
</html>
