<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include('partials/headerLogueado') %>

	<% } else { %>
		<%- include('partials/header') %>

	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
			<form method="POST" action=""> <!--enctype sirve para poder enviar archivos-->
			  
				<label>Nombre del jugador:</label>
				<input type="text" name="nombre_producto" ><br>

				<label>Posición:</label>
				<select name="posicion">
				  <option value="arquero">Arquero</option>
				  <option value="defensor">Defensor</option>
				  <option value="volante">Volante</option>
				  <option value="delantero">Delantero</option>
				</select><br>
			  
				<label>Descripción:</label>
				<textarea name="descripcion" ></textarea><br>

				<label>Detalle:</label>
				<textarea name="detalle" ></textarea><br>	

				<label>Imagen:</label>
				<input type="text" name="imagen" ><br>

				<label>Fecha de carga:</label>
				<input type="date" name="fechaCarga" ><br>
			  
				<button type="submit">Agregar producto</button>
			  </form>
			  
			</h2>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>